.gradient {
    -fx-background-color: linear-gradient(to bottom right, #0f6789, #286155);
}

.white-form {
    -fx-background-color: #ffffff;
}

.gradient Label {
    -fx-text-fill: #ffffff;
}

.header-label {
    -fx-border-color: #286155;
    -fx-border-width: 0 0 0 5px;
    -fx-padding: 0 0 0 5px;
    -fx-text-fill: #286155;
}

.login-btn {
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}